form{
    
    border-radius: 20px;
}
input{
   
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
    border: none;

    
}
.btn{
    background-color:#ffc107;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
}
.mode1{
    display: none;
 }
 
 .mode2{
    display: block;
 }
 .mode1:hover{
    color: #ffc107;
 }
 
 .mode2:hover{
    color: #ffc107;
 }
@media screen and (max-width:767px){
 .mode1{
    display: block;
 }
 .mode2{
    display: none;
 }
   
    
}